.line {
    transform: scaleY(0);
}

.line_grow_animation {
    animation: line_grow_animation 1s forwards;
    transform-origin: top;
}

@keyframes line_grow_animation {
    0% {
        transform: scaleY(0);
    }
    
    100% {
        transform: scaleY(1);
    }
}