@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-in-y {
    0% {
      transform: translate(0px, 16px);
      opacity: 0;
    }
    
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}

@font-face {
  font-family: "Roboto-Mono";
  src: 
    url("/fonts/roboto_mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: rgb(24 24 27);
  --foreground: theme(colors.neutral.400);
  --page-padding-horizontal: 128px;
  --section-padding-vertical: 64px;
}

.font-roboto-mono {
  font-family: "Roboto-Mono";
}

body {
  min-height: 100vh;
  background-color: var(--background);
  background-image: url("/background_noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}